<ion-header>
  <ion-toolbar>
    <ion-title>Consume Carbon Credits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
<ion-grid>

  <ion-row>
    <ion-col text-center offset-md="3" size-md="6"><font face="Big Shoulders Display" size="5em" color="gray">Consume carbon credits</font></ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset-md="3" size-md="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Purchase necessary if credit is low</ion-card-subtitle>
          <ion-card-title>Consumption details</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Required CC</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Reason of purchase</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-list padding>
            <ion-button color="light">Submit</ion-button>
            <ion-button color="dark">Clear</ion-button>
          </ion-list>
        </ion-card-content>
      </ion-card>      
    </ion-col>
  </ion-row>

</ion-grid>

<font  face="Big Shoulders Display" size="4em" color="gray">Carbon Credits in possession : 0</font>
</ion-content>
