<ion-header>
  <ion-toolbar>
    <ion-title>Transaction analytics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
<ion-grid>

  <ion-row>
    <ion-col text-center offset-md="3" size-md="6"><font face="Big Shoulders Display" size="5em" color="gray">Transaction analytics</font></ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset-md="3" size-md="6">
      <ion-item>
          <ion-icon name="leaf" slot="start"></ion-icon>
          <ion-text>'A' generates 5 CC.</ion-text>
      </ion-item>     
      <ion-item>
          <ion-icon name="nuclear" slot="start"></ion-icon>
          <ion-text>'A' consumes 2 CC.</ion-text>
      </ion-item>
      <ion-item>
          <ion-icon name="nuclear" slot="start"></ion-icon>
          <ion-text>'B' consumes 3 CC.</ion-text>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-grid>

<font  face="Big Shoulders Display" size="4em" color="gray">Carbon Credits in possession : 0</font>
</ion-content>
